![logo.jpg]()
# Programmation avancÃ©e - Class 4
## Sylvain Lobry, 10/10/2022

In today's class, we will learn the very basics of Python:
* Variables
* Built-ins
* Conditional statements
* Loops

## 1) Variables
### 1.1) Intro to variables
While you know about variables (at least in C++), it is important to understand that in Python, the variable declaration and initialization are done at the same time. Therefore, this how you would declare a variable in Python:

In [1]:
my_variable = "Vive la programmation!" #Declares a variable called my_variable and assigns string literal "Vive la programmation!"
print(my_variable)

Vive la programmation!

As you can see, we declared a variable of type String, but we did not explicitely wrote it. Python understood that the literal `"Vive la programmation!"` we assigned to the variable `my_variable` is of type String and that therefore the variable should be of type String. This is called "dynamic typing". It is also possible to modify the type of the variable on the fly:

In [2]:
my_variable = 42
print(my_variable)

42

However, Python is a strongly typed language: each variable has a type. Therefore the following statement does not work:

In [3]:
my_variable = "String" + 42

TypeError: can only concatenate str (not "int") to str

### 1.2) Types
You can check the type of a variable using the type function:

In [5]:
my_variable = "String"
print(my_variable)
print(type(my_variable))

my_variable = 42
print(my_variable)
print(type(my_variable))

String
<class 'str'>
42
<class 'int'>

The basic types that you need to know about right now are:
* int (/!\ No long)
* float (/!\ No double)
* bool
* str

Here are examples of variables of these types:

In [ ]:
int_var = 3
float_var = 3.0
bool_var = True
str_var = "A string"

However, a variable in python can contain a reference to any object. And in python, everything is an object. Therefore, the following is perfectly correct:

In [6]:
my_function_var = print
my_function_var(42)

42

In [7]:
type(my_function_var)

builtin_function_or_method

As a shortcut, you can use scientific notation (which will give you a float):

In [60]:
a_million = 42e5
print(a_million)

4200000.0

and for all the numerical types, you can use `_` as a separator:

In [10]:
a_large_number = 42_000_000
print(a_large_number)

42000000

While we have seen that Python is a strongly typed language, it is possible to convert variables using the functions of the name of the type. For instance, all of these are valid conversions:

In [11]:
print(int(3.2))
print(float(3))
print(int("42"))
print(bool(0))
print(bool(42))
print(str(42))

3
3.0
42
False
True
42

Of course, some conversions do not make sense, as the following:

In [12]:
#This is wrong, do not do this!!
int("test")
float("test")

ValueError: invalid literal for int() with base 10: 'test'

### 1.3) Naming
When it comes to naming a variable in python there are a few rules:
* You can only use alpha-numeric characters (A-Z, a-z, 0-9) and the underscore ( _ ) character
* It cannot start with a number
* It is case sensitive

Back to wooclap

In [13]:
_test = 42

In [14]:
A Var = 42

SyntaxError: invalid syntax (<ipython-input-14-a56b8b941247>, line 1)

In [16]:
Var0 = 42

In [17]:
0Var = 42

SyntaxError: invalid syntax (<ipython-input-17-4765f7a0ec6d>, line 1)

In [18]:
a_VerY_LoNg_____Var = 42

In [19]:
a(Var = 42

SyntaxError: unexpected EOF while parsing (<ipython-input-19-36f29479f015>, line 1)

In [20]:
print = 42

Oops, we lost print. That is right, nothing forbids you to use one of the language's function as a variable name! However, you should really not do that. Good thing we saved it in another variable earlier:

In [21]:
print(42)

TypeError: 'int' object is not callable

In [22]:
print = my_function_var
print(42)

42

### 1.4) Numerical operations
The `+`, `-` and `*` operators are behaving as you expect:

In [23]:
print(3 + 2)
print(12 - 1.1)
print(4 * 1.5)

5
10.9
6.0

To divide two numbers, you can use `/` which will do a float division:

In [24]:
4 / 2

2.0

You can also do an euclidian division using `//` (and the modulo operator `%`)

In [25]:
print(5//2)
print(5%2)

2
1

The exponentiation operator is `**`

In [26]:
3**2

9

Finally, you have the usual single operand versions

In [27]:
a = 42
a -= 21
print(a)
a += 21
print(a)
a /= 2
print(a)

21
42
21.0

### 1.5) Operations on strings
Operators `+` and `*` are defined on strings. Here are some examples:

In [28]:
print("A" + "B") #Concatenation
print("A" * 3) #Duplcation

AB
AAA

Guess the outputs..

In [ ]:
print("ABC" * 3) #1

In [1]:
print("ABC" * 1.2) #2

TypeError: can't multiply sequence by non-int of type 'float'

In [2]:
print("Vive" + "La") #3

ViveLa

In [3]:
print("ABC" * 2.0) #4

TypeError: can't multiply sequence by non-int of type 'float'

In [4]:
print("ABC" * int(3.2)**2) #5

ABCABCABCABCABCABCABCABCABC

## 2) Built-ins
Python defines built-in functions and types as part of the language. Have we seen some of them?

In this class, we will not see all of them. For a complete reference, you can look at the official documentation.

### 2.1) Print
We already have seen the print function. If you looked closely, you will have seen that it prints the argument (which does not have to be a string!) and a new line. Let's verify it:

In [29]:
print(1)
print(2)

1
2

It is possible to change this by passing a second, named argument: `end`. The value of end will be what is printed after the first argument of print:

In [30]:
print(1, end="")
print(2)

12

In [31]:
print("Pourquoi", end=" pas")

Pourquoi pas

You can also have several arguments:

In [32]:
print("Pourquoi", "pas", 42)

Pourquoi pas 42

These are automatically separated by a space. This default behavior can be modified using the named argument sep

In [33]:
print("Pourquoi", "pas", 42, sep="\n")

Pourquoi
pas
42

It is possible to format the output using the format method. To do so, you need to indicate in a string where to print the variables using `{}`:

In [34]:
print("Bonjour les M{}".format(1))

Bonjour les M1

Using this method, it is possible to nicely format some outputs. The most widely use of that is to set the number of decimals for a float:

In [35]:
a_number = 1/3
print(a_number)
print("{:.2f}".format(a_number))

0.3333333333333333
0.33

Here, `:` indicates that we are going to specify the format, `.2` is the desired precision (2 decimals) and `f` indicates that we ant to output a fixed point number.

Furthermore, there is another method to format the output: in this one, you start the string literal with the character `f` (for format), and you can directly put variables in accolades:

In [37]:
a = 1
print(f"Bonjour les M{a}")

Bonjour les M1

Finally, do not forget about type conversion and concatenation:

In [38]:
print("Bonjour les M" + str(1))

Bonjour les M1

### 2.2) Other built-in functions
In addition to the built-in function we have already seen (print, type, int, float, bool, str), there are a few other ones that would be useful to know right now:

* `min` and `max`:

In [39]:
print(min(3, 4.2))
print(max(3, 4.2))

3
4.2

* `abs`:

In [40]:
print(abs(-3))

3

* `chr` (which will give the unicode representation of an integer)
* `ord` (which give the integer representing an unicode character)

In [41]:
print(chr(8364))
print(ord("â‚¬"))

â‚¬
8364

## 3) Conditional statements
### 3.1) Comparison operators
To compare two values, python defines the following operators:
* `==` : Equal
* `!=` : Not equal
* `<` : Less than
* `<=` : Less than or equal to
* `>` : Greater than
* `>=` : Greater than or equal to

Each of these operator will return a boolean (True or False) depending on whether the condition is met:

In [42]:
print(f"Statement == : 1 == 2 = {1 == 2}, 1 == 1 = {1 == 1}")
print(f"Statement != : 1 != 2 = {1 != 2}, 1 != 1 = {1 != 1}")
print(f"Statement < : 1 < 2 = {1 < 2}, 1 < 1 = {1 < 1}")
print(f"Statement <= : 1 <= 2 = {1 <= 2}, 1 < 1 = {1 <= 1}")
print(f"Statement > : 1 > 2 = {1 > 2}, 1 > 1 = {1 > 1}")
print(f"Statement >= : 1 >= 2 = {1 >= 2}, 1 > 1 = {1 >= 1}")

Statement == : 1 == 2 = False, 1 == 1 = True
Statement != : 1 != 2 = True, 1 != 1 = False
Statement < : 1 < 2 = True, 1 < 1 = False
Statement <= : 1 <= 2 = True, 1 < 1 = True
Statement > : 1 > 2 = False, 1 > 1 = False
Statement >= : 1 >= 2 = False, 1 > 1 = True

In python, you can also compare strings using the same operators. It will then make the comparison character by character:

In [43]:
print("aa" == "aa")
print("aa" < "ab")
print("aac" < "ab")

True
True
True

### 3.2) Logical operators
In Python, you can chain comparison using `and` and `or` keywords. To negate a statement, you need to use `not`:

In [44]:
print(True and False)
print(3 > 2 or 1 != 1)
print(not True)

False
True
False

### 3.3) Tests
Python uses the traditional if structure for conditional statements. However, this is the first time we will encouter blocks in Python. Blocks are here defined not with `{}` as you might have seen in other languages, but indentation.

You can use spaces or tabs for the indentation. However, you need to be consistent.

The condition should follow the if statement (`()` are not mandatory) and followed by `:`. Similarly, the else statement should be followed by `:`. Here is an example:

In [45]:
if (2 < 3):
    print("2 is less than 3")
else:
    if 2 == 3:
        print("2 is equal to 3")
    else:
        print("2 is more than 3")

2 is less than 3

When there are a lot of possibilities, only using if/else makes it quite hard to read. In these cases, you can use the instruction elif.

In [46]:
if 3 < 2:
    print("2 is less than 3")
elif 3 == 2:
    print("2 is equal to 3")
else:
    print("2 is more than 3")

2 is more than 3

## 4) Lists and loops
### 4.1) Basics of lists
Lists are the most basic data structure provided by Python. In many respects, they are similar to arrays that you know.

To define it, we use `[]` and `,` to separate elements:

In [47]:
test = [1, 2, 3]
print(test)

[1, 2, 3]

However, a key difference with the majority of languages is that they allow for different types of elements in a single list. For instance, the following is valid:

In [48]:
test = [1, 'a', "abc", 42.0]
print(test)

[1, 'a', 'abc', 42.0]

Since you can put any type of element and a list is a type of element... You can make lists of lists:

In [49]:
test = [1, 'a', "abc", 42.0, [1,2,3], print]
print(test)

[1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>]

To index an element, you use the operator `[]`. As in C, indices start at 0. Note that it is also possible to access an element counting from the end of the list by using a negative number:

In [50]:
print(test[0])
print(test[-1])
print(test[-2])

1
<built-in function print>
[1, 2, 3]

It is also possible to slice a list using the `:` operator. The syntax is then `list_name[a:b]` and it will return the list with elements from a (included) to b (excluded):

In [51]:
test[1:3]

['a', 'abc']

Several lists can be concatenated using the `+` operator. It can be duplicated using the `*` operator. Finally, to add a single element to the list, you need to use the method `append()`

In [52]:
test = test + [1, 2]
print(test)
test = test * 2
print(test)
test.append("new elt")
print(test)

[1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>, 1, 2]
[1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>, 1, 2, 1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>, 1, 2]
[1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>, 1, 2, 1, 'a', 'abc', 42.0, [1, 2, 3], <built-in function print>, 1, 2, 'new elt']

### 4.2) New built-ins
As said before, lists are an important element of Python. Therefore, there are several built-ins that apply to it. Let's go over two four built-ins.

The first one is the `len()` function:

In [53]:
len(test)

17

`range` is a built-in which will define a range of numbers. It takes, in the general case, two arguments:
* the starting number (included)
* the finishing number (excluded)
It can also be used with only one argument. In this case, it is the finishing number and the starting number defaults to `0`.

For now, we are going to use it in conjunction with another built-in: `list`. If you give a range as an argument to this function, it will return the corresponding list:

In [54]:
print(list(range(5)))
print(list(range(2, 6)))

[0, 1, 2, 3, 4]
[2, 3, 4, 5]

Another building which applies to list is `sum`. Note that you can also use the built-ins `min` and `max`:

In [55]:
test = list(range(5))
print(test)
print(sum(test))
print(min(test))
print(max(test))

[0, 1, 2, 3, 4]
10
0
4

### 4.3) For loop
The syntax for `for` loops in Python is slightly different from most languages. It will iterate on an iterable object. So far, we have seen two of those: lists and ranges. Here is an example with both:

In [56]:
list_to_iter = ["One", "Two", "Three"]
for string in list_to_iter:
    print(string)
    
for number in range(3):
    print(number)

One
Two
Three
0
1
2

### 4.4) While loop
Another loop available in Python is the `while` loop. Its construction is very classical:

In [57]:
number = 0
while number < 3:
    print(number)
    number += 1

0
1
2

### 4.5) `break` and `continue` statements
It is possible to control the flow of a loop with `break` and `continue` statements. While these statements can be useful, they should (and could) be avoided in most cases.

In [58]:
test = [1, 2, "a", 3]

for i in test:
    if type(i) != int:
        break
    print(i)

1
2

In [59]:
for i in test:
    if type(i) != int:
        continue
    print(i)

1
2
3

# Questions?